@charset "UTf-8";

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 100vh;
}

.item{
    background: #0bd;
    color: #fff;
    margin: 10px;
    padding: 10px;
}
