@charset "UTf-8";

body {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: 30px 80px;
}

h5 {
    color: #0bd;
}

p {
    font-size: 20px;
    font-family: "Nikukyu";
    color: #999;
}

.blue {
    color: #0bd;
}

#orange {
    color: #fa2;
}

div {
    background: #0bd;
    margin-top: 30px;
    margin-left: 100px;
    padding: 40px;
    border-width: thick;
    border-style: solid;
    border-color: tomato;
}

ul {
    list-style-type: square;
    list-style-position: outside;
}

ol {
    list-style-type: hiragana;
    list-style-position: inside;
}

li {
    background: #0bd;
}